<link rel="stylesheet" href="/css/_current-address.css">


<!-- Diaplay Stored Address -->
<div class="col-sm-6 address-info">
    <div class="shadow-lg">
        <div class="card-body">
            <p class="card-text">
                <li>
                    <%= user_address.fName %> 
                    <% if(user_address.lName) { %>
                        <%= user_address.lName %> 
                    <% } %>
                </li>
                <li>
                    <%= user_address.mNumber %>
                    <% if(user_address.altNumber) { %>
                        , <%= user_address.altNumber %> 
                    <% } %>
                </li>
                <li>
                    <%= user_address.fNumber %>
                </li>
                <li>
                    <%= user_address.address %> 
                    <% if(user_address.address2) { %>
                        <br> <%= user_address.address2 %> 
                    <% } %>
                </li>
                <li>
                    <%= user_address.city %>,&nbsp;<%= user_address.state %>-<%= user_address.zip %>
                </li>
                <li>
                    <%= user_address.country %>
                </li>
            </p>
            <div class="address-options">
                <form action="/users/address/edit/<%= user_address._id %>" method="get">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form action="/users/address/delete/<%= user_address._id %>" method="post">
                    <button type="submit" class="btn btn-primary">Remove</a>
                </form>
            </div>
        </div>
    </div>
</div>